@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(57, 53, 116);
  color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label,
button {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(213, 210, 255);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.logo {
  position: absolute;
  top: 0rem;
  left: 1rem;
  font-size: 4rem;
  color: rgba(91, 83, 165, 1);
  cursor: pointer;
}

.logo:hover {
  color: transparent;
}
